In [76]:
import pandas as pd
from osgeo import gdal

import numpy as np

In [77]:
ds = gdal.Open("perennial_2_tile.tif")
# ds = gdal.Open("Months/sentinel2a_Jamui_2021_01.tif")

# TIFF to CSV 
# first option
xyz = gdal.Translate("dem.xyz", ds)
xyz = None

df1 = pd.read_csv("dem.xyz", sep = " ", header = None)
df1.columns = ["x","y", "value"]
df1.drop('value', inplace=True, axis=1)

Warning 6: XYZ driver only uses the first band of the dataset.

In [78]:
# df

In [79]:
df = pd.read_csv('./Water Folder/Perennial_for_tif.csv')

dall = df1.copy()


# df['x'] = df['geo']
# df_all = pd.read_csv('map.csv')
# df.drop('index', inplace=True, axis=1)

# dall = pd.merge(df1, df, how="left",left_on=['x','y'], right_on = ['x','y'])

# df['xy'] = list(zip(df.x, df.y))
# df1['xy'] = list(zip(df1.x, df1.y))

# dall = pd.merge_asof(df1,df,on='xy')

# dall.fillna(0)

for index,row in df.iterrows():
    dall.loc[(round(dall['x'],3) == round(row['x'],3)) & (round(dall['y'],3) == round(row['y'],3))  , ['value']] = row['value']
    # print((round(dall['x'],3) == round(row['x'],3)))
    # print(row['value'])


dall['value'] = dall['value'].fillna(0)

dall.head()

           x          y  value
0  86.012835  24.872868    0.0
1  86.013105  24.872868    0.0
2  86.013374  24.872868    0.0
3  86.013644  24.872868    7.0
4  86.013913  24.872868    7.0

In [80]:
df.head()

           x          y  value
0  86.013976  24.872541      7
1  86.014273  24.872543      7
2  86.014570  24.872545      7
3  86.013384  24.872266      7
4  86.013681  24.872268      7

In [81]:
df1

             x          y
0    86.012835  24.872868
1    86.013105  24.872868
2    86.013374  24.872868
3    86.013644  24.872868
4    86.013913  24.872868
..         ...        ...
190  86.015530  24.869634
191  86.015799  24.869634
192  86.016069  24.869634
193  86.016338  24.869634
194  86.016608  24.869634

[195 rows x 2 columns]

In [82]:
# dall['value'] = dall['value']*126

# dall['r'] = np.where(dall['value']=='0', '255', '0')
# dall['g'] = 0
# dall['b'] = np.where(dall['value']=='1', '255', '0')

In [83]:
print(dall)

             x          y  value
0    86.012835  24.872868    0.0
1    86.013105  24.872868    0.0
2    86.013374  24.872868    0.0
3    86.013644  24.872868    7.0
4    86.013913  24.872868    7.0
..         ...        ...    ...
190  86.015530  24.869634    3.0
191  86.015799  24.869634    3.0
192  86.016069  24.869634    3.0
193  86.016338  24.869634    3.0
194  86.016608  24.869634    0.0

[195 rows x 3 columns]

In [84]:
# dall.drop('value', inplace=True, axis=1)

In [86]:

dall.to_csv("map.xyz", index = False, header = None, sep = " ")
demn = gdal.Translate("map.tif", "map.xyz")
demn = None