In [ ]:
from google.colab import drive

drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/Water_classification_Chahat_Sachit_Divyansh/Datasets

/content/drive/MyDrive/Water_classification_Chahat_Sachit_Divyansh/Datasets

In [ ]:
import pandas as pd

#In CSV rename system:index to system_index and .geo to geo

pd.set_option('display.max_rows', 50)


df = pd.read_csv('GroundTruth/seasonal_6_tile.csv')

In [ ]:
df.rename(columns = {'system:index':'system_index'}, inplace = True)
df.rename(columns = {'.geo':'geo'}, inplace = True)

In [ ]:
dfn = df
dfn["system_index"] = df["system_index"].str[:6]

dfn.fillna(0)

,system_index,Name,altitudeMo,classification,descriptio,extrude,icon,tessellate,visibility,geo
0,202101,seasonal_6_tile,0.0,4,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
1,202101,seasonal_6_tile,0.0,4,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
2,202101,seasonal_6_tile,0.0,4,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
3,202101,seasonal_6_tile,0.0,2,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
4,202101,seasonal_6_tile,0.0,1,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
...,...,...,...,...,...,...,...,...,...,...
11643,202112,seasonal_6_tile,0.0,3,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
11644,202112,seasonal_6_tile,0.0,2,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
11645,202112,seasonal_6_tile,0.0,2,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
11646,202112,seasonal_6_tile,0.0,2,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."
11647,202112,seasonal_6_tile,0.0,2,0.0,0,0.0,1,-1,"{""geodesic"":false,""type"":""Point"",""coordinates""..."

In [ ]:
df = df[df.Name.str.startswith('seasonal_6_tile')]

In [ ]:
print(df)

      system_index             Name  altitudeMo  classification  descriptio  \
0           202101  seasonal_6_tile         NaN               4         NaN
1           202101  seasonal_6_tile         NaN               4         NaN
2           202101  seasonal_6_tile         NaN               4         NaN
3           202101  seasonal_6_tile         NaN               2         NaN
4           202101  seasonal_6_tile         NaN               1         NaN
...            ...              ...         ...             ...         ...
11643       202112  seasonal_6_tile         NaN               3         NaN
11644       202112  seasonal_6_tile         NaN               2         NaN
11645       202112  seasonal_6_tile         NaN               2         NaN
11646       202112  seasonal_6_tile         NaN               2         NaN
11647       202112  seasonal_6_tile         NaN               2         NaN

       extrude  icon  tessellate  visibility  \
0            0   NaN           1          -1
1            0   NaN           1          -1
2            0   NaN           1          -1
3            0   NaN           1          -1
4            0   NaN           1          -1
...        ...   ...         ...         ...
11643        0   NaN           1          -1
11644        0   NaN           1          -1
11645        0   NaN           1          -1
11646        0   NaN           1          -1
11647        0   NaN           1          -1

                                                     geo
0      {"geodesic":false,"type":"Point","coordinates"...
1      {"geodesic":false,"type":"Point","coordinates"...
2      {"geodesic":false,"type":"Point","coordinates"...
3      {"geodesic":false,"type":"Point","coordinates"...
4      {"geodesic":false,"type":"Point","coordinates"...
...                                                  ...
11643  {"geodesic":false,"type":"Point","coordinates"...
11644  {"geodesic":false,"type":"Point","coordinates"...
11645  {"geodesic":false,"type":"Point","coordinates"...
11646  {"geodesic":false,"type":"Point","coordinates"...
11647  {"geodesic":false,"type":"Point","coordinates"...

[11648 rows x 10 columns]

In [ ]:
new_df = df[['geo']].drop_duplicates()

In [ ]:
len(new_df)

128

In [ ]:
# "Kharif"
new_df['11'] = 0
new_df['12'] = 0
new_df['13'] = 0
new_df['14'] = 0

# "Rabi"
new_df['21'] = 0
new_df['22'] = 0
new_df['23'] = 0
new_df['24'] = 0

# "Zaid"
new_df['31'] = 0
new_df['32'] = 0
new_df['33'] = 0
new_df['34'] = 0

In [ ]:
new_df.head()

,geo,11,12,13,14,21,22,23,24,31,32,33,34
0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,0,0,0,0,0,0,0,0,0,0,0
1,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,0,0,0,0,0,0,0,0,0,0,0
2,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,0,0,0,0,0,0,0,0,0,0,0
3,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,0,0,0,0,0,0,0,0,0,0,0
4,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
for index, row in df.iterrows():
    month = (int)(row['system_index'][4:6])
    classif = row['classification']
    # print(classif)
    
    if month >= 7 and month <= 10:
        t = '1'
    elif month >= 3 and month <= 6:
        t = '3'
    else:
        t = '2'
    
    column_name = t + str(classif)
    # print(column_name)
    
    new_df.loc[new_df['geo'] == row['geo'], [column_name]] += 1
    # dfn.loc[dfn['geo'] == some_value]

In [ ]:
print(new_df)

                                                   geo  11  12  13  14  21  \
0    {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   4
1    {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   0
2    {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   0
3    {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   4
4    {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0  16
..                                                 ...  ..  ..  ..  ..  ..
123  {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   8
124  {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0  12
125  {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   0
126  {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   4
127  {"geodesic":false,"type":"Point","coordinates"...   0  10   0   0   0

     22  23  24  31  32  33  34
0     6   4  33   0   0   0  34
1     9   4  34   0   0   0  34
2    13   0  34   0   0   0  34
3    25   2  16   0   0   2  32
4    13   2  16   7   0   0  27
..   ..  ..  ..  ..  ..  ..  ..
123   5   8  26   0   0   0  34
124  13   2  20   0   0   0  34
125  17   2  28   0   0   0  34
126  37   2   4   0   0   4  30
127  40   0   7   4   4   0  26

[128 rows x 13 columns]

### COLOR CODING
- 0 => No water
- 1 => Kharif
- 2 => Rabi
- 3 => Zaid
- 4 => Kharif and Rabi
- 5 => Kharif and Zaid
- 6 => Zaid and Rabi
- 7 => Kharif, Rabi, and Zaid

In [ ]:
new_df['CODE'] = new_df['11']

In [ ]:
for i in range(len(new_df)):
  label = 0
  in_kharif = False
  in_zaid = False
  in_rabi = False
  if new_df['11'][i] > 0 or new_df['12'][i] > 0 or new_df['13'][i] > 0 or new_df['14'][i] > 0:
    in_kharif = True
  if new_df['21'][i] > 0 or new_df['22'][i] > 0 or new_df['23'][i] > 0 or new_df['24'][i] > 0:
    in_rabi = True
  if new_df['31'][i] > 0 or new_df['32'][i] > 0 or new_df['33'][i] > 0 or new_df['34'][i] > 0:
    in_zaid = True

  if in_kharif and in_rabi and in_zaid:
    new_df['CODE'] = 7
  if not(in_kharif) and in_rabi and in_zaid:
    new_df['CODE'] = 6
  if in_kharif and not(in_rabi) and in_zaid:
    new_df['CODE'] = 5
  if in_kharif and in_rabi and not(in_zaid):
    new_df['CODE'] = 4
  if not(in_kharif) and not(in_rabi) and in_zaid:
    new_df['CODE'] = 3
  if not(in_kharif) and in_rabi and not(in_zaid):
    new_df['CODE'] = 2
  if in_kharif and not(in_rabi) and not(in_zaid):
    new_df['CODE'] = 1
  if not(in_kharif) and not(in_rabi) and not(in_zaid):
    new_df['CODE'] = 0

In [ ]:
new_df[new_df['CODE']==7]

,geo,11,12,13,14,21,22,23,24,31,32,33,34,CODE
0,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,4,6,4,33,0,0,0,34,7
1,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,0,9,4,34,0,0,0,34,7
2,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,0,13,0,34,0,0,0,34,7
3,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,4,25,2,16,0,0,2,32,7
4,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,16,13,2,16,7,0,0,27,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,8,5,8,26,0,0,0,34,7
124,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,12,13,2,20,0,0,0,34,7
125,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,0,17,2,28,0,0,0,34,7
126,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,4,37,2,4,0,0,4,30,7
127,"{""geodesic"":false,""type"":""Point"",""coordinates""...",0,10,0,0,0,40,0,7,4,4,0,26,7

In [ ]:
new_df.to_csv('Colorcoding_seasonal_6_jamui.csv')